.pie {
    background-color:#A8DADC;
    grid-area: pie;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    .ubicacion{
        
        iframe{

        }
    }

    .otro-contacto{
        p{
            font-size: 20px;
            line-height: 50px;

        }
    }

    .redes{
        a{
            i{
                font-size: 50px;
                color: #E63946;
                &:hover{
                    color: #1D3557;
                }
            }
        }
    }
}