.pie {
    background-color:$color-3;
    grid-area: pie;
    padding: 10px;
    @include flexbox(flex, row, space-around, center);
    text-align: center;
    .otro-contacto{
        p{
            font-size: 20px;
            line-height: 50px;
        }
    }
    .redes{
        a{
            i{
                font-size: 50px;
                color: $color-1;
                &:hover{
                    color: $color-4;
                }
            }
        }
    }
}