// INDEX// INDEX// INDEX// INDEX// INDEX// INDEX

.grid-container {
    background-color: $color-2;
    width: 90%; /*!si pongo 90% no queda centrado!!!*/
    /**corregido*/ /**lo arreglé diviendo en 3 con fr en valores enteros*/ 
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto 300px;
    gap: 10px;
    grid-template-areas:
    "header header header"
    "hero hero hero"    
    "contenido contenido servicios"
    "pie pie pie";
    .encabezado{
        /**tenia un problema para desplegar el menu hamburguesa en el index*/
        /**lo solucioné de esta forma*/
        top: 0;
        width: 100%;
    }
    .hero {
        grid-area: hero;
        width: 100%;
        height: 100%; //!acomodar height/

        div{
            width: 100%;
            height: 100%;
            h1{
                @extend %h1-hero;
                font-size: nth($size, 5);
                
                span{
                    font-size:100px;
                    font-style:normal;
                }
            }
        }
    }
    .contenido{
        border: 2px solid #E63946;
        background-color: #F1FAEE;
        grid-area: contenido;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        h2{
            margin: 20px;
            padding: 30px;
            font-size: 70px;
            letter-spacing: 1px;
        }
        div{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            text-align: center;
            p{
                padding: 30px;
                margin: 20px;
                font-size: 30px;
                line-height: 50px;
                text-align: justify;
            }
            img{
                margin: 20px; 
            }
        }
    }
    .servicios{
        //ver si corresponde mismo formato para ambos divs
        //pongo solo uno y sin class
        border: 2px solid #E63946;
        background-color: #F1FAEE;
        grid-area: servicios;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:end;
        div{
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;
            text-align: center;
            h3{
                margin: 20px 5px 20px 5px;
                font-size: 30px;
            }
            img{
                width: 300px;
                height: 300px;
                margin: 20px;
            }
            p{
                margin: 20px;
                font-size: 20px;
                text-align: justify;
            }
        }
    }
}

// NOSOTROS/// NOSOTROS/// NOSOTROS/// NOSOTROS/// NOSOTROS/

.nosotros-container{
    background-color: #F1FAEE;
    width: 90%;
    margin: 0 auto;  
    .nosotros-hero{
        margin-top:10px;
        width: 100%;
        height: 100%;
    
        div{
            h1{
                @extend %h1-hero;
                span{
                    font-style: italic;
                    font-size: 80px;
                }
            }
        }
    }
    
    .nosotros-main-container{
        //hay dos sections iguales con clases,
        // ver si no son iguales, lo hago
        display: flex; 
        section{
            border: 2px solid #E63946;    
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 20px;
            text-align: center;
            img{
                padding: 20px;
                height:400px;
                width: 400px;
                
    
            }
            h2{
                padding-top: 30px;
                font-size: 50px;
                letter-spacing: 1px;
    
            }
            p{
                padding: 20px;
                font-size: 25px;
                text-align: justify;
                
            }
        }
    }
}

// SERVICIOS/// SERVICIOS/// SERVICIOS/// SERVICIOS/// SERVICIOS/

.servicios-container{
    background-color: #F1FAEE;
    width: 90%;
    margin: 0 auto;   
    main{
        width:100%;
        display: flex;
        flex-direction: column;  
        h1{
            margin-top: 10px;
            @extend %h1-hero;

            

        }
    }
}     


// PROYECTOS/// PROYECTOS/// PROYECTOS/// PROYECTOS/// PROYECTOS/

.proyectos-container{
    background-color: #F1FAEE;
    width: 90%;
    margin: 0 auto;
    main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        // height: 100vh; /
        // border: 2px solid #E63946; /
        h1{
            margin-top:10px;
            background-image: url(../img/header-1-1920-700.jpg);
            width: 100%;
            height: 50%;
            padding: 150px;
            color: #F1FAEE;
            font-family: 'Source Code Pro', monospace;
            font-size: 100px;
            font-weight:600;
            letter-spacing: 2px;
            text-align: center;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;    
            text-shadow: -1px -1px 5px black;
        }
        h2{
            padding: 50px 150px 0 150px;
            text-align: center;
        }
        div{
            margin: 50px 10px 150px 10px;
            /* padding: 150px; */
            border: 2px solid #E63946;
            display: flex;
            flex-direction: row;
            background-color: #A8DADC;
            a{
                i{
                    margin:30px;
                    
                    font-size: 120px;
                    color: #E63946;
                    &:hover{
                        color: #1D3557;
                    }
                }
            }
        }
    }
}

//CONTACTO///CONTACTO///CONTACTO///CONTACTO///CONTACTO/

.contacto-container{
    background-color: #F1FAEE;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    main{
        .formulario{
            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            h1{
                font-family: 'Source Code Pro', monospace;
                font-size: 50px;
                font-weight: 600;
                margin: 40px;
                
            }
            div{
                background-color: #A8DADC;
                padding: 20px;
                border:2px solid #E63946;
                margin: 40px;
                text-align: left;
                font-size: 25px;
                font-weight:500;
                color: #E63946;
                form{
                    label{
                        margin: 0;
                    }
                    input{
                        margin: 10px;
                    }
                    .submit{
                        padding: 5px;
                        border: 2px solid #E63946;
                        color: #E63946;
                        font-weight:600;
                        text-shadow: -1px -1px 1px  #F1FAEE;
                        background-color: #A8DADC;
                        &:hover{
                            background-color:#1D3557;
                            text-shadow: -1px -1px 1px  #E63946;
                            color: #F1FAEE;

                        }

                    }
                }
            }
        }
    }
}