// RESET /// RESET /// RESET /// RESET /// RESET /

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// FONTS/// FONTS/// FONTS/// FONTS/// FONTS/// FONTS/

 // Source code

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,600;0,900;1,300;1,600;1,900&display=swap');

 // Roboto

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

// BODY/// BODY/// BODY/// BODY/// BODY/

body {
    background-color: $color-2;
    font-family: 'Roboto', sans-serif;
    
}

//HEADER///HEADER///HEADER///HEADER///HEADER///HEADER///HEADER/
//Clases de Bootstrap/

.navbar-brand img {
    border: $borde;
    transition-property: border-radius;
    transition-duration: 0.25s;
    
}

//la propiedad content aparentemente no funciona bien con transition/
//pero acomodando un poco los tiempos logré un resultado que más o menos me gusta/


.navbar-brand img:hover {
    content: url(../img/4.png);
    border: $borde;
    border-radius: 10%;
    
}


.nav-link {
    color: $color-1;
    margin: 10px;
    font-size: 20px;
    font-weight:600;
    border: $borde;
    text-shadow: -1px -1px 1px  $color-2;
    border-radius: 2%;
    background-color: $color-3;
    transition-property: all;
    transition-duration: 0.25s;
}

.nav-link:hover {
    background-color:$color-4;
    text-shadow: -1px -1px 1px  $color-1;
    color: $color-2;
    border-radius: 20%;
}

.navbar-nav {
    --bs-nav-link-hover-color:$color-1;   
}

//!GRILLA DE LA PAGINA "servicios.html" (se rompe al anidar,/ 
//!Gabi dijo en el after que podíamos hacerla sin anidar, igual sus respectivas media queries)/

.servicios-main-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px 600px 600px;
    gap: 20px;
    /* padding: 20px;     */
}



.servicios-main-grid div{
    border: $borde;
    @include flexbox(flex, column, center, center);
    margin: 10px;
}

.servicios-main-grid div img{
    height: 500px;
    width: 500px;
    box-shadow: -5px -4px 5px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: -5px -4px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: -5px -4px 5px 0px rgba(0,0,0,0.75);
                transition: 0.5s;
                &:hover{
                    transform: scale(0.99);
                    box-shadow: -2px -1px 2px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: -2px -1px 2px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: -2px -1px 2px 0px rgba(0,0,0,0.75);    
                }
}

.servicios-main-grid div h2{
    font-size: 60px;
    margin: 10px;
    padding:10px;
    color: $color-4;
    text-shadow: -3px -3px 2px rgba(230,57,70,0.56);
}

.servicios-main-grid div p{
    color: $color-4;
    font-weight: 500;
    padding: 50px;
    text-align: justify;
}

//MEDIA QUERIES SERVICIOS///MEDIA QUERIES SERVICIOS///MEDIA QUERIES SERVICIOS/

@media screen and (max-width:1250px){
    .servicios-main-grid {
        width: 100%;
        @include flexbox(flex, column, center, center);      
    }
    .servicios-main-grid div {
        border:0;
    }
    .servicios-main-grid .servicio-descripcion{
        border: $borde;
        width: 90%;        
    }
    .servicios-main-grid .servicio-imagen{
        border:$borde;        
        margin: 40px;
        width: 90%;
        padding: 20px;        
    }
}

@media screen and (max-width:725px){
    .servicios-main-grid .servicio-descripcion h2{
        font-size:50px;
    }
    .servicios-main-grid .servicio-imagen img{
        width: 400px;
        height: 400px;
            
    }
}
@media screen and (max-width:600px){
    .servicios-main-grid .servicio-descripcion h2{
        font-size:40px;
    }
    .servicios-main-grid .servicio-imagen img{
        width:300px;
        height: 300px;;
    }
}
@media screen and (max-width:550px){
    .servicios-main-grid .servicio-descripcion h2{
        font-size:40px;
        
    }
    .servicios-main-grid .servicio-imagen img{
        width:240px;
        height: 240px;
            
    }

}


