//INDEX///INDEX///INDEX///INDEX///INDEX///INDEX///INDEX///INDEX/

@media screen and (max-width:1100px){
    //originalmente era 1050px en el css anterior/
    .grid-container{
        .hero{
            div{
                h1{
                    padding: 75px;
                    color: $color-2;//!ver si esto va/
                    font-size: 40px;
                    letter-spacing: 2px;   
                    text-shadow: -1px -1px 5px black;
                    span{
                        font-size:80px;
                    }
                }
            }
        } 
        .contenido{
            h2{
                margin: 10px;
                padding: 10px;        
                font-size: 50px;
                letter-spacing: 1px;
            }
            div{
                p{
                    padding: 10px;
                    margin: 10px;
                    font-size: 20px;
                    line-height: 25px;
                }
                img{
                    margin: 50px;
                    height: 300px;
                    width: 400px;
                }
            }
        }
        .servicios{
            div{
                h3{
                    margin: 10px 5px 10px 5px;
                    font-size: 20px;    
                }
                img{
                    height: 200px;
                    width: 200px;    
                }
                p{
                    margin: 10px;
                    font-size: 15px;    
                }
            }
        }
        .pie{
            .ubicacion{
                iframe{
                    width: 150px;
                    height: 150px;
                }
            }
            .otro-contacto{
                font-size: 15px;
                line-height: 30px;
            }
            .redes{
                i{
                    font-size: 35px;
                }
            }
        }
    }
}

@media screen and (max-width:990px){
    .grid-container{
        .encabezado{
            nav{
                div{
                    a{
                        img{
                            height: 53px; 
                            width: 200px;                        
                        }
                    }
                    div{
                        div{
                            a{
                                text-align: center;
                                width:150px;
                            }
                        }
                    }    
                }
            }
        }
    }
}

@media screen and (max-width:805px){
    .grid-container{
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 150px auto auto auto 300px;
        gap: 5px;
        grid-template-areas:
        "header header"
        "hero hero"    
        "contenido contenido"
        "servicios servicios"
        "pie pie";
        
        .hero{
            div{
                h1{
                    padding: 50px;
                    font-size: 30px;
                    span{
                        font-size:50px;
                    }
                }
            }
        }
        .pie{
            padding: 10px;  
            flex-direction: column; 
            .ubicacion{
                display: none;
            }
            .otro-contacto{
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
}

@media screen and (max-width: 525px){
    .grid-container{
        .hero{
            div{
                h1{
                    padding: 50px;
                    font-size: 30px;
                    span{
                        font-size: 40px;
                    } 
                }
            }
        }
        .contenido{
            h2{
                margin: 5px;
                padding: 5px;        
                font-size: 30px;
            }
            div{
                p{
                    font-size: 15px;
                }
                img{
                    margin: 20px;
                    width: 275px;
                    height: 240px;
                }
            }
        }
        .servicios{
            div{
                h3{
                    font-size: 20px;
                }
                img{
                    height: 150px;
                    width: 150px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
        .pie{
            .otro-contacto{
                font-size: 15px;
                line-height: 30px;
            }
            .redes{
                i{
                    font-size: 50px;
                }
            }
        }
    }
}

@media screen and (max-width: 380px){
    .grid-container{
        .hero{
            div{
                h1{
                    padding: 5px; 
                    font-size: 25px;
                    span{
                        font-size: 35px;
                    }
                }
            }
        }
    }
}

//CONTACTO///CONTACTO///CONTACTO///CONTACTO///CONTACTO/

@media screen and (max-width:990px){
    .contacto-container{
        .encabezado{
            nav{
                div{
                    a{
                        img{
                            height: 53px; 
                            width: 200px;                        
                        }
                    }
                    div{
                        div{
                            a{
                                text-align: center;
                                width:150px;
                            }
                        }
                    }
                }
            }
        }
        .pie{
            .ubicacion{
                iframe{
                    width: 150px;
                    height: 150px;
                }
            }
            .otro-contacto{
                font-size: 15px;
                line-height: 30px;
            }
            .redes{
                i{
                    font-size: 35px;
                }
            }
        }
    }
}

@media screen and (max-width:805px){
    .contacto-container{
        main{
            .formulario{
                h1{
                    font-size: 60px;
                    padding: 20px;
                }
            }
        }
        .pie{
            padding: 10px;  
            flex-direction: column; 
            .ubicacion{
                display: none;        
            }
            .otro-contacto{
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
}

@media screen and (max-width: 525px){
    .contacto-container{
        main{
            .formulario{
                h1{
                    font-size: 40px;
                }
                div{
                    font-size: 15px;
                }
            }
        }
        .pie{
            .otro-contacto{
                font-size: 15px;
                line-height: 30px;
            }
            .redes{
                i{
                    font-size: 50px;
                }
            }
        }
    }
}



//NOSOTROS///NOSOTROS///NOSOTROS///NOSOTROS///NOSOTROS/

@media screen and (max-width:1090px){
    .nosotros-container{
        .nosotros-hero{
            div{
                h1{
                    padding: 75px;
                    font-size: 70px;
                    span{
                        font-size:80px;
                    }
                }
            }
        }
        .nosotros-main-container{
            flex-direction:column;   
        }
        .pie{
            .ubicacion{
                iframe{
                    width: 150px;
                    height: 150px;
                }
            }
            .otro-contacto{
                font-size: 15px;
                line-height: 30px;
            }
            .redes{
                i{
                    font-size: 35px;
                }
            }
        }    
    }
}


@media screen and (max-width:990px){
    .nosotros-container{
        .encabezado{
            nav{
                div{
                    a{
                        img{
                            height: 53px; 
                            width: 200px;                        
                        }
                    }
                    div{
                        div{
                            a{
                                text-align: center;
                                width:150px;
                            }
                        }
                    }    
                }
            }
        }
        .nosotros-hero{
            div{
                h1{
                    padding: 75px;
                    font-size: 80px;
                    span{
                        font-size: 70px;
                    }
                }            
            }
        }
    }
}

@media screen and (max-width:700px){
    .nosotros-container{
        .nosotros-hero{
            div{
                h1{
                    padding: 50px;
                    font-size: 60px;
                    span{
                        font-size: 40px;
                    }
                }            
            }
            
        }
        .pie{
            padding: 10px;  
            flex-direction: column; 
            .ubicacion{
                display: none;
            }
            .otro-contacto{
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
}

@media screen and (max-width:530px){
    .nosotros-container{
        .nosotros-hero{
            div{
                h1{
                    padding: 25px;
                    font-size: 55px;
                    span{
                        font-size: 35px;
                    }
                }            
            }
        }
        .nosotros-main-container{
            section{
                img{
                    height: 250px;
                    width: 250px;
                }
                h2{
                    padding-top: 20px;
                    font-size: 40px;
                }
                p{
                    font-size: 20px;
                }
            }
                        
        }
        .pie{
            .otro-contacto{
                font-size: 15px;
                line-height: 30px;
            }
            .redes{
                i{
                    font-size: 50px;
                }
            }
        }
    }
}


@media screen and (max-width:400px){
    .nosotros-container{
        .nosotros-hero{
            div{
                h1{
                    padding: 15px;
                    font-size: 50px;
                    span{
                        font-size: 30px;
                    }
                }            
            }
        }
    }
}

//PROYECTOS///PROYECTOS///PROYECTOS///PROYECTOS///PROYECTOS/

@media screen and (max-width:990px){
    .proyectos-container{
        .encabezado{
            nav{
                div{
                    a{
                        img{
                            height: 53px; 
                            width: 200px;                        
                        }
                    }
                    div{
                        div{
                            a{
                                text-align: center;
                                width:150px;
                            }
                        }
                    }    
                }
            }
        }
        main{
            h1{
                font-size:80px;
            }
        }
        .pie{
            .ubicacion{
                iframe{
                    width: 150px;
                    height: 150px;
                }
            }
            .otro-contacto{
                font-size: 15px;
                line-height: 30px;
            }
            .redes{
                i{
                    font-size: 35px;
                }
            }
        }
    }    
}

@media screen and (max-width:700px){
    .proyectos-container{
        main{
            h1{
                padding:50px;
                font-size:60px;
            }
            h2{
                padding:60px;
            }
        }
        .pie{
            padding: 10px;  
            flex-direction: column; 
            .ubicacion{
                display: none;
            }
            .otro-contacto{
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
    }
        


@media screen and (max-width: 525px){
    .proyectos-container{
        main{
            h1{
                padding-left:0;
                padding-right: 0;
                font-size:50px;
            }
            div{
                a{
                    i{
                        font-size:80px;
                    }
                }
            }
        }
        .pie{
            .otro-contacto{
                font-size: 15px;
                line-height: 30px;
            }
            .redes{
                i{
                    font-size: 50px;
                }
            }
        }
    }
}

//SERVICIOS///SERVICIOS///SERVICIOS///SERVICIOS///SERVICIOS///SERVICIOS/

//ver "_Generales.scss" para la anidación del Grid/
//anido aquí variaciones en header, footer y el h1/

@media screen and (max-width:990px){
    .servicios-container{
        .encabezado{
            nav{
                div{
                    a{
                        img{
                            height: 53px; 
                            width: 200px;                        
                        }
                    }
                    div{
                        div{
                            a{
                                text-align: center;
                                width:150px;
                            }
                        }
                    }    
                }
            }
        }    
        main{        
            h1{
                font-size: 80px;   
            }
        }
        .pie{
            .ubicacion{
                iframe{
                    width: 150px;
                    height: 150px;
                }
            }
            .otro-contacto{
                font-size: 15px;
                line-height: 30px;
            }
            .redes{
                i{
                    font-size: 35px;
                }
            }
        }
    }    
}

@media screen and (max-width:725px){
    .servicios-container{
        main{
            h1 {
                font-size: 60px;
                padding:50px;               
            }
        }
        .pie{
            padding: 10px;  
            flex-direction: column; 
            .ubicacion{
                display: none;
            }
            .otro-contacto{
                font-size: 20px;
                line-height: 20px;
            }
        }    
    }      
}


@media screen and (max-width:550px){
    .servicios-container{
        main{
            h1 {
                font-size: 40px;
                padding:50px;               
            }
        }    
    }      
}

@media screen and (max-width: 525px){
    .servicios-container{
        .pie{
            .otro-contacto{
                font-size: 15px;
                line-height: 30px;
            }
            .redes{
                i{
                    font-size: 50px;
                }
            }
        }
    }
}
